body {
  font-family: monospace;
  background-color: skyblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: steelblue;
}

.emotion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 30rem;
  height: 20rem;
  border-radius: 1rem;
  border: 2px solid wheat;
  background-color: transparent;
  color: wheat;
}
